/*flex*/
#grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#usables {
    position: absolute;
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: left;
    align-items: center;
}

/*not flex*/
body {
    background-color: black;
    overflow: hidden;
}

button {
    height: 11vh;
    width: 11vw;
    border-radius: 1px;
    border: 1px white;
    background-color: black;
}

#stats {
    position: absolute;
    height: 50vh;
    width: 10vw;
    background-color: black;
    border: 1px white;
}