/*flex*/
#grid {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    gap: 1px;
    height: 100vh;
    width: 100vw;
}

#usables {
    position: absolute;
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: left;
    align-items: center;
}

#gridStat {
    display: flex;
    flex-direction: column;
    position: absolute;

    justify-content: space-evenly;
    align-items: start;
}

/*not flex*/
.sector {
    height: calc(90vh / 9);
    width: calc(90vw / 16);
    border: 1px solid white;
    border-radius: 10px;
    background-color: black;
    padding: 4px;
}

.sector:hover {
    border: 3px solid white;
}

body {
    background-color: black;
    overflow: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

button {
    height: 11vh;
    width: 11vw;
    border: 1px white;
    background-color: black;
}

#stats {
    position: absolute;
    height: 50vh;
    width: 10vw;
    background-color: black;
    border: 1px white;
}

/* environment colors and textures */
.forest {
    background-color: #023C40;
}

.mountain {
    background-color: #955E42;
}

.plains {
    background-color: #B0970A;
}

.desert {
    background-color: #DAD2BC;
}

.basic {
    background-color: #A4958E;
}